---
import { Image } from 'astro:assets'
import Layout from 'src/layouts/Layout.astro'
import projects from 'src/data/projects.json'

export function getStaticPaths() {
  const data = projects.map(project => ({
    params: {
      id: project.id,
    },
  }))

  return data
}

const { id } = Astro.params

const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/**')

const imageSrc = images[`../../assets/images/projects/${id}.webp`]()

const project = projects.find(project => project.id === id)!
---

<Layout>
  <div class='flex min-h-screen items-center justify-center'>
    <Image src={imageSrc} alt={project.name} transition:name={id} />
  </div>
</Layout>
