<section class='mb-10 flex h-[17px] justify-center'>
  <span id='google_translate_element'></span>
</section>

<script is:inline>
  function googleTranslateElementInit() {
    google.translate.TranslateElement(
      {
        includedLanguages: 'es,en',
      },
      'google_translate_element',
    )

    // Remove the powered by Google logo
    const googleGadget = document.querySelector('.skiptranslate.goog-te-gadget')
    googleGadget.replaceChildren(googleGadget.childNodes[0])

    // Update resume link based on language selected
    const languageOptionSelect = document.querySelector('.goog-te-combo')

    function handleLanguageChange(languageSelected) {
      const linkSeeCv = document.getElementById('link_see_cv')

      if (languageSelected === 'es') {
        linkSeeCv.href = '/CV Jean Chirinos.pdf'
      } else {
        linkSeeCv.href = '/Resume Jean Chirinos.pdf'
      }
    }

    // Listen for language changes
    languageOptionSelect.addEventListener('change', e => handleLanguageChange(e.target.value))

    // Set the initial file if needed
    setTimeout(() => {
      if (languageOptionSelect.value !== '') {
        handleLanguageChange(languageOptionSelect.value)
      }
    }, [500])
  }
</script>

<script
  is:inline
  src='https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit'></script>

<style is:global>
  /* Hides google top bar when changing language */
  body {
    @apply !top-0;
  }

  body > .skiptranslate {
    @apply hidden;
  }

  /* Styles the google translate dropdown */
  .goog-te-combo {
    @apply !m-0 rounded-md py-1 pl-0.5 text-white;
  }

  /* Hides google translate tooltips when a language is selected and text is being hovered */
  #goog-gt-tt {
    @apply !hidden;
  }

  font {
    @apply !bg-transparent !shadow-none;
  }
</style>
