<header class='sticky top-0 z-50 mb-5 flex justify-center pt-2'>
  <nav
    class='flex rounded-lg border border-neutral-800 bg-[#1B1B1B]/80 backdrop-blur-lg *:px-3 *:py-2 hover:*:text-white md:*:px-6'
  >
    <a href='/#sobre_mi'>Sobre mí</a>
    <a href='/#experiencia'>Experiencia</a>
    <a href='/#proyectos'>Proyectos</a>
  </nav>
</header>
