---
import About from '@components/About.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Jean Chirinos | Portafolio'>
  <main class='mx-auto flex w-[900px] max-w-full flex-col items-center gap-y-8 py-20'>
    <About />
  </main>
</Layout>
