---
import About from '@/components/sections/about/About.astro'
import Layout from '../layouts/Layout.astro'
import Experience from '@/components/sections/experience/Experience.astro'
import Projects from '@/components/sections/projects/Projects.astro'
import Header from '@/components/sections/Header.astro'
import GoogleTranslate from '@/components/sections/GoogleTranslate.astro'
---

<Layout>
  <Header />
  <GoogleTranslate />
  <main class='mx-auto flex w-[900px] max-w-full flex-col gap-y-20 pb-2'>
    <About />
    <Experience />
    <Projects />
  </main>
</Layout>
