---
import About from '@components/About.astro'
import Layout from '../layouts/Layout.astro'
import Experience from '@components/Experience.astro'
import Projects from '@components/Projects.astro'
---

<Layout>
  <main class='mx-auto flex w-[900px] max-w-full flex-col gap-y-16 py-20'>
    <About />
    <Experience />
    <Projects />
  </main>
</Layout>
