---
import { Icon } from 'astro-icon/components'
---

<section id='experiencia' class='w-[433px] max-w-full scroll-mt-20 space-y-6 self-center'>
  <h4>Experiencia Laboral</h4>

  <article class='flex gap-x-2.5'>
    <div class='pt-2'><Icon name='binarial' size={24} /></div>
    <section class='flex flex-col'>
      <header>
        <h5 class='text-lg'>Desarrollador Frontend</h5>
        <p>Binarial</p>
        <p class='text-neutral-400'>2022 - 2024</p>
      </header>
      <p class='max-w-prose text-pretty'>
        Desarrollo de landings y una aplicación web de inversiones inmobiliarias
      </p>
    </section>
  </article>
</section>
