<header class='pointer-events-none fixed top-2 z-50 flex w-screen justify-center'>
  <nav
    class='pointer-events-auto flex w-max max-w-full rounded-lg border border-neutral-800 bg-[#1B1B1B]/80 backdrop-blur-lg *:px-3 *:py-2 hover:*:text-white md:*:px-6'
  >
    <a href='/#sobre_mi'>Sobre mí</a>
    <a href='/#experiencia'>Experiencia</a>
    <a href='/#proyectos'>Proyectos</a>
  </nav>
</header>
