<header
  class='fixed left-1/2 top-2 flex w-max max-w-full -translate-x-1/2 rounded-lg bg-[#1B1B1B]/80 shadow-sm backdrop-blur-lg *:px-6 *:py-2 hover:*:text-white'
>
  <a href='#sobre_mi'>Sobre mí</a>
  <a href='#experiencia'>Experiencia</a>
  <a href='#proyectos'>Proyectos</a>
</header>
