---
import '../globals.css'
import Metadata from '@/components/Metadata.astro'

interface Props {
  title?: string
  description?: string
  image?: string
}
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <Metadata {...Astro.props} />
  </head>
  <body class='px-4'>
    <slot />
  </body>
</html>
