---
import { projects } from '@/data/projects'
import Project from './Project.astro'
---

<section id='proyectos' class='scroll-mt-20 space-y-8 self-center'>
  <h4>Proyectos</h4>

  <section class='grid grid-cols-1 gap-5 md:grid-cols-2'>
    {projects.map((project, i) => <Project project={project} index={i}></Project>)}
  </section>
</section>
